.navBar {
  display: flex;
  font-weight: 500;
  flex-direction: row;
  background-color: rgba(0, 50, 34, 0.853);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgba(36, 36, 36, 0.168);
  align-items: center;
  min-height: 40px;
  padding-left: 25px;
  font-size: 25px;
  }
  .cart-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  }
  .cart-num {
  background-color: grey;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  }
  .all-sneakers {
  display: flex;
  margin: 10px;
  }
  .card {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(34, 34, 34);
  border-radius: 15px; 
  max-width: 200px;
  }
  .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }
  .card-body {
  margin: 10px;
  }
  .btn {
  background-color: rgb(56, 56, 56);
  color: white;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  border-radius: 30px;
  border-width: 0px;

  }
  a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }
  .cart-container {
  margin: 20px;
  }
  .card-cart {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-radius: 10px;
  max-width: 500px;
  }
  .card-img-left { 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  }